<%= link_to 'New Post', new_post_path, :class => "btn btn-default" %>
<br>
<br>
<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= post.title %></h2>
      <div class="text-muted">
        tags:
        <%= post.tag_list%>
        <div class="pull-right">
          <%= post.created_at.strftime('%B %d, %Y %H:%M') %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p>
        <%= truncate_html(post.body, length: 150, omission: '...') %>
      </p>
    </div>
    <div class="panel-footer">
      <div id="comments" %>
        <% post.comments.order(created_at: :desc).limit(3).each do |comment| %>
          <p>
            <%= gravatar_image_tag(comment.user.email, :style => "width: 30px; height: 30px;border-radius: 50%;") %>
            &nbsp
            <%= comment.body %>
          </p>
          <hr>
        <% end %>
      </div>
      <div>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @posts, :theme => 'twitter-bootstrap-3'%>
